* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans JP", sans-serif;
}
.errorMessage {
  font-size: 1.1em;
  color: red;
  margin: 0.6em 0;
  display: block;
  text-align: center;
}

.btn {
  background: #40196d;
}

ul {
  list-style: none;
}
